<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Tá Chegando - Cadastrar</title>
    <link rel="icon" href="/files/Icon.png">
    <script  src="/js/local.js"></script>
</head>

<body>
    <header>
        <div id="headerLogin">
            <a href="home"><img id="iconLogin" src="./files/Icon.png" width="100px" alt="icone"></a>
        </div>
    </header>
    <main>
        <div id="Login">

            <div id="corpo">
                <form id='form' action="/cadastrado" method="POST">
                <h1>Cadastrar</h1>
                
                <input type="text" maxlength="11" name="cpf" id="cpf" placeholder="CPF" required>
                <input type="text" name="nome" id="nome" placeholder="Nome" required>
                <input type="text" name="sobrenome" id="sobrenome" placeholder="Sobrenome" required>
                <h2>Data de nascimento: </h2>
                <input type="date" name="data" id="data" placeholder="Data de Nascimento" required>
                <input type="email" name="txtEmail" id="txtEmail" placeholder="Email" required>
                <input type="email" name="txtconfirmEmail" id="txtCnfEmail" placeholder="Repita o email" required>
                <input type="password" name="password" id="pswd" placeholder="Senha" required>
                <input type="password" name="confirmpassword" id="cpswd" placeholder="Repita a senha" required>

            </div>
            <div id="opc2">
                <button type="submit" id="login" > Cadastrar</button>
            </div>
        </form>
            
        </div>
    </main>
    <footer>
     
    </footer>
        
</body>

</html>