<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Rastreio de encomendas" content="A melhor ferramenta para rastreio de encomendas"/>
    <link rel="stylesheet" href="/style/style.css">
    <title>Tá Chegando</title>
    <link rel="icon" href="/files/Icon.png">
    <script  src="/js/ajuste.js"></script>
    <style>

    </style>
</head>

<body>
    <header>
        <a href="home"><div id="header"><img id="icon" src="./files/Icon.png" width="250px" alt="icone"></div></a>
    </header>
    <main>
        <div id="menu">
            <a href="login" ><button type="button" class="clickon" onclick="logar(1)">Cliente</button></a>
            <a href="login-entregador" ><button type="button" class="clickon" onclick="logar(2)">Entregador</button></a>
            <a href="login-empresa" ><button type="button" class="clickon" onclick="logar(3)">Empresa</button></a>
        </div>
    </main>
    <footer>
        
    </footer>
</body>

</html>