<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <script  src="/js/ajuste.js"></script>
    <title>Opcoes</title>
</head>
<body>
    <div id="producao">
        <img id='producao' src="./files/Icon.png" width="100px" alt="icone">
        <h1 id='producao'>EM PRODUCAO</h1>
        <h2 id='producao'>TA CHEGANDO!</h2>
        <br>
        <button onclick="back()">VOLTAR</button>

    </div>
</body>

</html>