<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Rastreio de encomendas" content="A melhor ferramenta para rastreio de encomendas"/>
    <link rel="stylesheet" href="/style/style.css">
    <title>Tá Chegando</title>
    <link rel="icon" href="/files/Icon.png">
    <script  src="/js/local.js"></script>
    <style>

    </style>
</head>

<body>
    <header>
        <div id="headerLogin">
            <a href="home"><img id="iconLogin" src="./files/Icon.png" width="100px" alt="icone"></a>
        </div>
    </header>
    <main>
        <div id="Login">
            <div id="corpo">
                <form>
                <h1>Recuperar Senha</h1>
                <input type="text" name="txtEmail" id="txtEmail" placeholder="Email" required>
            </div>
            <div id="opc2">
                <button type="submit" id="login"> Recuperar</button>
            </div>
        </form>
            <div id="recu2">
                <a href="cadastro"><p id="recup2">Cadastrar</p></a>
                <a href="home"><p id="recup2">Fazer login</p></a>
            </div>
            
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>