<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Tá Chegando - Cadastrar</title>
    <link rel="icon" href="/files/Icon.png">
    <script  src="/js/local.js"></script>
</head>

<body>
    <header>
        <div id="headerLogin">
            <a href="home"><img id="iconLogin" src="./files/Icon.png" width="100px" alt="icone"></a>
        </div>
    </header>
    <main>
        <div id="Login">

            <div id="corpo">
            <form>
                <h1>Cadastrar</h1>
                
                <input type="text" maxlength="14" name="cnpj" id="txtcnpj" placeholder="CPF/ CNPJ" required>
                <input type="text" name="txtEmail" id="txtnome" placeholder="Nome/ Razão Social " required>
                <input type="text" name="txtEmail" id="txtnmfantasia" placeholder="Nome fantasia">
                <h2>Data de Nascimento / Abertura: </h2>
                <input type="date" name="txtEmail" id="txtdtnas" placeholder="Data de Nascimento / Abertura" required>
                <input type="email" name="txtEmail" id="txtEmail" placeholder="Email" required>
                <input type="email" name="txtEmail" id="txtEmail2" placeholder="Repita o email" required>
                <input type="text" name="txtEmail" id="txttpem" placeholder="Tipo da empresa" required>
                <input type="password" name="txtEmail" id="txtsenha" placeholder="Senha" required>
                <input type="password" name="txtEmail" id="txtsenha2" placeholder="Repita a senha" required>

            </div>
            <div id="opc2">
                <button type="submit" id="login"> Cadastrar</button>
            </div>
        </form>
        </div>
    </main>
    <footer>
     
    </footer>
    <script src="cliente.js"></script>
    <script src="empresa.js"></script>
    
</body>

</html>