<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Tá Chegando - Encomendas</title>
    <link rel="icon" href="/files/Icon.png">
    <script  src="/js/ajuste.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAC1DXQau7-c5Pdzt0na-FA5P2VcJF8Zus&callback=mapInit"
    async defer></script>
</head>
<body>
    <header>
        <div id="headerLogin">
            <a href="home"><img id="iconLogin" src="./files/Icon.png" width="100px" alt="icone"></a>
        </div>
    </header>
    <div id="rastreio">
        <%for(var i=0;i<trk.length;i++) {%>
        <a href="detalhes/<%=trk[i].codRastreio%>" ><button type="button" class="clickon"><%=trk[i].codRastreio%></button></a>
        <%}%>
        <button onclick="back()">VOLTAR</button>
    </div>
   
</body>

</html>