<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Tá Chegando - Login</title>
    <link rel="icon" href="/files/Icon.png">
    <script  src="/js/local.js"></script>
</head>

<body>
    <header>
        <div id="headerLogin">
            <a href="home"><img id="iconLogin" src="./files/Icon.png" width="100px" alt="icone"></a>
        </div>
    </header>
    <main>
        <div id="Login">
            <div id="corpo">
                <form id='form' method="POST">
                <h1 id='form'>Entrar</h1>
                <input type="text" name="txtEmail" id="txtEmail" placeholder="Email" required>
                <input type="password" name="txtPswd" id="txtPswd" placeholder="Senha" required>
            </div>
            <div id="opc2">
                <button type="submit" id="login" onclick="cadCli()"> Entrar</button>
            </div>
        </form>
            <div id="recu">
                <p id="recup" class="clickon" onclick="cad()">Cadastrar</p>
                
                <a href="recuperar"><p id="recup">Esqueceu a senha?</p></a>
            </div>
            
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>