<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Tá Chegando - Cadastrar</title>
    <link rel="icon" href="/files/Icon.png">
    <script  src="/js/local.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAC1DXQau7-c5Pdzt0na-FA5P2VcJF8Zus&callback=mapInit"
    async defer></script>
</head>
<body>
    <h1>entrei - entregador</h1>

    <div id="map"></div>
</body>
<script>
    
    autoUpdateEnt()
</script>
</html>