<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Tá Chegando - Cadastrar</title>
    <link rel="icon" href="/files/Icon.png">
    <script  src="/js/ajuste.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAC1DXQau7-c5Pdzt0na-FA5P2VcJF8Zus&callback=mapInit"
    async defer></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
</head>
<body>
    <header>
        <div id="headerLogin">
            <a href="home"><img id="iconLogin" src="./files/Icon.png" width="100px" alt="icone"></a>
        </div>
    </header>

    <div id="rastreio">
        <a href="/encomendas" ><button type="button" class="clickon">ENCOMENDAS</button></a>
        <a href="/historico" ><button type="button" class="clickon" >HISTÓRICO</button></a>
        <a href="/opcoes" ><button type="button" class="clickon" >OPÇÕES</button></a>
    </div>
    
    
   <!-- <div id="map"></div>-->
</body>
<script>
    
    autoUpdateEnt()
</script>
</html>